.atencao
  display: flex
  align-items: center

.textContainer
  flex: 1
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-direction: column
  margin-left: 0.5rem

.description
  text-align: justify

