.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointment-form {
  background: #FFF;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.greeting {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #565e64;
}

.btn-google {
  background-color: #81C0DD;
  color: #fff;
  font-family: var(--font-baloo2);
  font-size: 1.1rem;
  border-radius: 20px;
}

.btn-google:hover {
  background-color: #5cc3f3
}

.atencao {
  display: flex;
  align-items: center;
}

.textContainer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 0.5rem;
}

.description {
  text-align: justify;
  font-family: var(--font-baloo2);
  font-weight: 400;
  font-size: 20px;
  color: #F5B2BF;
}

.bgContainer {
  background-image: url("/contatoBg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-family: var(--font-baloo2);
  font-weight: 700;
  color: #81C0DD;
  font-size: 2.22rem;
}

.atencao-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




@media (max-width: 600px) {
  .appointment-form {
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  .greeting {
    font-size: 1.25rem;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .form-group input {
    padding: 7px;
    font-size: 0.9rem;
  }

  .btn {
    padding: 8px 0;
    font-size: 0.9rem;
  }
}


@media (max-width: 1100px) {
  .conteiner {
    flex-direction: column;
  }

  .atencao {
    flex-direction: column;
    margin-top: 1rem;
  }

  .imageContainer {
    margin-bottom: 1rem;
  }
}

/* @import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css"; */

/* reset */
/* button,
fieldset,
input {
  all: unset;
}

.calendarEtime {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.calendario {
  display: flex;
  column-gap: 1rem;
}
.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
  background-color: var(--mauve-3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}
.Button.green:hover {
  background-color: var(--green-5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: var(--violet-11);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
} */

/* @keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* @keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
} */
