.btn
  background-color: #E77F80
  color: #fff
  margin-top: 10px
  padding: 15px 30px
  text-align: center
  font-family: var(--font-baloo2)
  font-size: 1.05rem
  text-decoration: none
  display: inline-block
  border-radius: 12px
  transition: background-color 0.3s

  &:hover
    background-color: darken(#E77F80, 10%)

.btnWp
  position: relative
  left: 0.4rem
  top: 0.2rem