.textContainer
  display: flex
  justify-content: space-between
  align-items: center
  font-family: var(--font-baloo2)
  color: #E77F80
  font-size: 0.94rem

  @media screen and (max-width: 768px)
    flex-direction: column
    margin: 0
    padding: 0
