.contato
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-family: var(--font-baloo2)
  font-weight: 700
  color: #81C0DD


.backgroundImage
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -1
  object-fit: cover

.bgContainer
  position: relative
  width: 100%
  height: 100%
  overflow: hidden

.contatoContainer
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding-top: 2rem 
  padding-bottom: 2rem

.title
  font-family: var(--font-baloo2)
  color: #809B92
  font-size: 2.2rem
  margin-bottom: 2rem