.contato
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-family: var(--font-baloo2)
  font-weight: 700
  color: #81C0DD


.bgContainer
  background-image: url("/bgAtencao2.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.contatoContainer
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding-top: 2rem 
  padding-bottom: 2rem

.title
  font-family: var(--font-baloo2)
  color: #809B92
  font-size: 2.2rem
  margin-bottom: 2rem