.navItems
  position: -webkit-sticky
  position: sticky
  top: 0
  width: 100%
  background-color: #EFF2FA
  transition: background-color 0.3s ease
  z-index: 1000

  &.scrolled
    background-color: rgba(239, 242, 250, 0.2)
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
    backdrop-filter: blur(15px)
    -webkit-backdrop-filter: blur(15px)

.container
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  max-width: 1320px
  margin: 0 auto
  padding-bottom: 0.4rem
  padding-top: 0.4rem

  @media screen and (max-width: 1280px)
    padding: 0 1.9rem

.imageContainer
  flex-shrink: 0

.desktopNav
  display: flex
  gap: 2rem
  justify-content: flex-end
  align-items: center
  width: 100%


.mobileNav
  display: flex
  flex-direction: column
  gap: 1rem
  position: absolute
  top: 3.5rem
  right: 1rem
  background-color: #EFF2FA
  padding: 1rem
  border-radius: 0.5rem
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)

.hamburger
  display: none
  background: none
  border: none
  font-size: 1.5rem
  cursor: pointer

@media screen and (max-width: 1000px)
  .desktopNav
    display: none
  .hamburger
    display: block

.nav
  display: flex
  gap: 0.555rem
  align-items: center
  opacity: 1
  transition: opacity 100ms linear
  visibility: visible
  text-decoration: none
  font-family: var(--font-baloo2)
  color: #809B92
  font-size: 1rem
  cursor: pointer

  &:hover
    transition: all 2s solid
    font-weight: 900

  &.active
    color: #E77F80
    font-weight: 900

.hide
  opacity: 0
  visibility: hidden

.loadingFallback
  display: flex
  justify-content: center
  align-items: center
  font-family: var(--font-baloo2)
  color: #809B92

.loading
  font-family: var(--font-baloo2)
  font-size: 1.2rem
  color: #809B92
  margin-right: 0.5rem

.typing_indicator
  width: 40px
  height: 20px
  position: relative
  z-index: 4
  display: flex
  align-items: center

.typing_circle
  width: 4px
  height: 4px
  position: absolute
  border-radius: 50%
  background-color: #000
  left: 15%
  transform-origin: 50%
  animation: typing_circle7124 0.5s alternate infinite ease

@keyframes typing_circle7124
  0%
    top: 20px
    height: 5px
    border-radius: 50px 50px 25px 25px
    transform: scaleX(1.7)
  40%
    height: 8px
    border-radius: 50%
    transform: scaleX(1)
  100%
    top: 0%

.typing_circle:nth-child(2)
  left: 45%
  animation-delay: 0.2s

.typing_circle:nth-child(3)
  left: auto
  right: 15%
  animation-delay: 0.3s

.typing_shadow
  width: 3px
  height: 2px
  border-radius: 50%
  background-color: rgba(0, 0, 0, 0.2)
  position: absolute
  top: 30px
  transform-origin: 50%
  z-index: 3
  left: 15%
  filter: blur(1px)
  animation: typing_shadow046 0.5s alternate infinite ease

@keyframes typing_shadow046
  0%
    transform: scaleX(1.5)
  40%
    transform: scaleX(1)
    opacity: 0.7
  100%
    transform: scaleX(0.2)
    opacity: 0.4

.typing-shadow:nth-child(4)
  left: 45%
  animation-delay: 0.2s

.typing-shadow:nth-child(5)
  left: auto
  right: 15%
  animation-delay: 0.3s
