.nav
  display: flex
  gap: 0.555rem
  align-items: center
  flex-wrap: wrap
  opacity: 1
  transition: opacity 100ms linear
  visibility: visible
  text-decoration: none
  font-family: var(--font-open-sans)
  color: #000
  font-size: 0.9rem

.hide
  opacity: 0
  visibility: hidden

.navItems 
  display: flex
  justify-content: center
  align-items: center
  gap: 0.555rem
  padding: 10px 0
    
  @media screen and (max-width: 1200px) 
    display: none
   



    
// .nav {
//   display: flex;
//   gap: calc(var(--base) / 4) var(--base);
//   align-items: center;
//   flex-wrap: wrap;
//   opacity: 1;
//   transition: opacity 100ms linear;
//   visibility: visible;

//   > * {
//     text-decoration: none;
//   }
// }

// .hide {
//   opacity: 0;
//   visibility: hidden;
// }
