.heroBackground
  background-image: url('/linhaHero.svg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.container
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 1320px
  margin: 0 auto
  
  @media screen and (max-width: 1000px)
    flex-direction: column
    padding-top: 1rem

  @media screen and (max-width: 768px)
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 1rem

.textContainer
  flex: 1
  @media screen and (max-width: 768px)
    margin-right: 0
    text-align: center
  
  @media screen and (max-width: 1280px)
    margin-left: 2rem


.imageContainer
  flex-shrink: 0
  @media screen and (max-width: 768px)
    margin-top: 0.1rem


.nome
  font-family: var(--font-baloo2)
  font-weight: 700
  color: #F4B2BE

.titulo
  font-family: var(--font-baloo2)
  font-weight: 500
  color: #F4B2BE

.comentario
  font-family: var(--font-baloo2)
  font-weight: 400
  color: #F4B2BE
  font-size: 1.5rem

.ptag
  font-family: var(--font-baloo2)
  font-size: 0.9rem
  color: #80C0DD
  display: flex
  align-items: center
  margin-top: 0.5rem

  @media screen and (max-width: 768px)
    display: flex
    justify-content: center
    align-items: center
  @media screen and (max-width: 1000px)
    display: flex
    justify-content: center
    align-items: center

.btnLap 
  margin-right: 0.5rem

.btnAgende
  flex: 1

  @media screen and (max-width: 768px)
    align-items: center
    justify-content: center
    display: flex
  @media screen and (max-width: 1000px)
    align-items: center
    justify-content: center
    display: flex
