.heroBackground
  position: relative
  background-image: url('./linhaHeroVerde2.svg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
      
.container
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 1320px
  margin: 0 auto
  padding-top: 80px
  
  @media screen and (max-width: 1000px)
    flex-direction: column
    padding-top: 1rem

  @media screen and (max-width: 768px)
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 1rem

.textContainer
  flex: 1

  @media screen and (max-width: 1280px)
    margin-left: 2rem 
  
  @media screen and (max-width: 768px)
    margin-left: 0  
    margin-right: 0
    text-align: center

.imageContainer
  flex-shrink: 0

  @media screen and (max-width: 768px)
    margin-top: 0.1rem
    order: -1  

.nome
  font-family: var(--font-baloo2)
  font-weight: 900
  font-size: 2.222rem
  color: #E8ECF7

.titulo
  font-family: var(--font-baloo2)
  font-weight: 400
  color: #E8ECF7
  font-size: 1.333rem

.comentario
  font-family: var(--font-baloo2)
  font-weight: 400
  color: #E8ECF7
  font-size: 2.222rem
  line-height: 1.05
  margin-top: 2.222rem
  margin-bottom: 2.222rem
  
.textinho
  font-family: var(--font-baloo2)
  font-weight: 400
  color: #E8ECF7
  font-size: 1.333rem
  line-height: 1.05
  margin-bottom: 2.222rem

.textinho2
  font-family: var(--font-baloo2)
  font-weight: 400
  color: #E8ECF7
  font-size: 1.222rem
  line-height: 1.05
  margin-bottom: 2.222rem

.ptag
  font-family: var(--font-baloo2)
  font-size: 0.9rem
  color: #809B92
  display: flex
  align-items: center
  margin-top: 0.5rem
  flex-wrap: wrap

  @media screen and (max-width: 768px)
    display: flex
    justify-content: center
    align-items: center

  @media screen and (max-width: 1000px)
    display: flex
    justify-content: center
    align-items: center

.laptop
  padding-bottom: 3rem

.boldText 
  font-weight: 900
  margin: 0 0.22rem


.btnLap 
  margin-right: 0.5rem
  color: #809B92


.btnAgende
  flex: 1
  margin-bottom: 0.6rem

  @media screen and (max-width: 768px)
    align-items: center
    justify-content: center
    display: flex

  @media screen and (max-width: 1000px)
    align-items: center
    justify-content: center
    display: flex
