.psicanalise
  display: flex
  justify-content: center
  align-items: flex-start
  flex-direction: column
  font-family: var(--font-baloo2)


.textContainer
  flex: 1
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-direction: column

.texto
  text-align: justify
  width: 900px

.testando
  display: flex
  justify-content: center
  align-items: center

