.cont
  text-align: center
  padding: 20px
  font-family: var(--font-baloo2)

.aga1
  font-size: 2rem
  margin-bottom: 10px

.pe
  font-size: 1.2rem
  margin-bottom: 20px

.grid
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 20px

.card
  background-color: #fff
  border: 1px solid #ddd
  border-radius: 8px
  padding: 20px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  text-align: left
  display: flex
  flex-direction: column
  align-items: center
  width: 373px
  height: 570px
  margin: 10px
  margin-bottom: 40px
  &:hover
    cursor: pointer

.card_image
  margin-bottom: 15px

.card_title
  font-size: 1.5rem
  margin-bottom: 10px

.card_text
  font-size: 1rem
  line-height: 1.5
  color: #555
  text-align: justify
  overflow: auto


.swiper-pagination
  position: relative
  bottom: -20px !important // Forçando a posição

.swiper-pagination-bullet
  background: #333 !important

.swiper-pagination-bullet-active
  background: #555 !important

.swiper-button-next,
.swiper-button-prev
  color: #333 !important
