.bgContainer
  background: #E8ECF7
  
.mainContainer
  display: flex
  min-height: 100vh
  flex-direction: column
  align-items: center
  justify-content: space-between
  padding: 5rem 0
  font-family: var(--font-baloo2)
  color: #809B92

.secao
  background: #fff
  padding: 1rem 0
  border-radius: 20px
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)

.mainDiv
  width: 100%
  margin-left: auto
  margin-right: auto
  padding-left: 1rem
  padding-right: 1rem

  > * + *
    margin-top: 3rem

  @media (max-width: 768px)
    padding-left: 1.5rem
    padding-right: 1.5rem



.categoryName 
  font-family: var(--font-baloo2)
  font-size: 0.9rem
  font-weight: 500
  border-radius: 10px
  background-color: #ced4da
  color: #809b92
  display: inline-block
  padding-left: 0.75rem
  padding-right: 0.75rem
  padding-top: 0.25rem
  padding-bottom: 0.25rem
  margin-bottom: 1rem

.article
  margin-bottom: -1.2rem
  
.date
  font-family: var(--font-baloo2)
  margin: 0

.articleTitle
  font-size: 2rem
  font-weight: 700
  color: #809B92
  font-family: var(--font-baloo2)
  margin-bottom: 1rem

  @media (max-width: 768px)
    font-size: 2rem

.articleSummary
  color: #809B92
  font-size: 1.1rem
  font-family: var(--font-baloo2)
  font-weight: 500

  @media (max-width: 768px)
    font-size: 1.25rem
    line-height: 1.75rem

  @media (max-width: 1024px)
    font-size: 1rem
    line-height: 1.75rem

  @media (max-width: 1280px)
    font-size: 1.25rem
    line-height: 1.75rem


.imageDiv
  > * + *
    margin-top: 2rem

  @media (max-width: 1024px)
    > * + *
      margin-top: 2.5rem

.imageClass
  border-radius: 40px

  @media screen and (max-width: 1024px)
    max-width: 100%
    height: auto




.detailsDiv
  > * + *
    margin-top: 1rem

  @media (max-width: 768px)
    > * + *
      margin-top: 1.5rem

.details
  > * + *
    margin-top: 0.5rem

.detailsDiv
  color: #809B92
  font-size: 1rem
  line-height: 1.75rem

  @media (max-width: 768px)
    font-size: 1.25rem
    line-height: 1.75rem

  @media (max-width: 1024px)
    font-size: 1rem
    line-height: 1.75rem

  @media (max-width: 1280px)
    font-size: 1.25rem
    line-height: 1.75rem

