.star
  color: #F1E14B
  margin-right: 0.3rem

.userInfo
  display: flex
  justify-content: space-between 
  align-items: center
  width: 100% 
  padding: 0.4rem


.depoimentosContainer
  margin-top: 50px

.boraQuerer
  width: 100%

.nomeEstar
  display: flex
  flex-direction: column
  align-items: flex-start
  
.imageNameContainer 
  display: flex
  align-items: center



.starContainer
  display: flex
  margin-right: 10px

.textContainer
  display: flex
  justify-content: center
  align-items: flex-start
  flex-direction: column


.commentContainer
  background: #809B92
  border-radius: 20px
  padding: 0.9rem
  box-sizing: border-box
  display: flex
  justify-content: center
  align-items: flex-start
  flex-direction: column
  width: 100%
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
  margin-bottom: 100px
  margin-left: 10px
  

.title
  font-family: var(--font-baloo2)
  color: #809B92
  font-weight: 700
  font-size: 2.5rem
  margin-bottom: 2.778rem
  margin-left: 0.5rem

.comentarios
  font-family: var(--font-baloo2)
  color: #E8ECF7
  font-weight: 100
  font-size: 1rem

.nome
  font-family: var(--font-baloo2)
  color: #E8ECF7
  margin-left: 0.5rem

// .commentContainer
//   display: flex
//   flex-direction: column
//   align-items: center
//   padding: 20px
//   background: #fff
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
//   border-radius: 8px
//   width: 100%
//   box-sizing: border-box

// .comentarios
//   font-size: 1rem
//   color: #333
//   margin-bottom: 15px
//   line-height: 1.6

// .userInfo
//   display: flex
//   align-items: center
//   margin-top: 10px

// .nome
//   font-size: 1rem
//   color: #333
//   margin-left: 10px
  
  
// .depoimentosContainer
//   display: flex
//   flex-direction: column
//   align-items: center
//   padding: 20px
//   margin-top: 20px
//   background-color: #f9f9f9
//   border-radius: 10px

// .textContainer
//   text-align: center
//   margin-bottom: 20px

// .dizem
//   font-size: 1rem
//   color: #b35e45
//   margin-bottom: 10px

// .title
//   font-size: 2rem
//   color: #2e3a59
//   margin-bottom: 10px

// .description
//   font-size: 1rem
//   color: #333
//   margin-bottom: 20px


// .swiper-pagination-bullet
//   background: #333

// .swiper-pagination-bullet-active
//   background: #555

// .swiper-button-next,
// .swiper-button-prev
//   color: #333
