.bgContainer
  background-color: #E8ECF7

  
.title
  font-family: var(--font-baloo2)
  font-weight: 700
  font-size: 2.222rem
  color: #81C0DD

.formas
  font-family: var(--font-baloo2)
  font-weight: 400
  font-size: 1.333rem
  color: #F5B2BF

.semifooter
  display: flex
  justify-content: space-around
  align-items: center
  font-family: var(--font-baloo2)

.btnWp
  position: relative
  top: 0.2rem
  right: 0.1rem
